In [62]:


import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import os
for dirname, _, filenames in os.walk('emails.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [63]:
df = pd.read_csv('emails.csv')

In [64]:
df.head(20)

                                                 text  spam
0   Subject: naturally irresistible your corporate...     1
1   Subject: the stock trading gunslinger  fanny i...     1
2   Subject: unbelievable new homes made easy  im ...     1
3   Subject: 4 color printing special  request add...     1
4   Subject: do not have money , get software cds ...     1
5   Subject: great nnews  hello , welcome to medzo...     1
6   Subject: here ' s a hot play in motion  homela...     1
7   Subject: save your money buy getting this thin...     1
8   Subject: undeliverable : home based business f...     1
9   Subject: save your money buy getting this thin...     1
10  Subject: las vegas high rise boom  las vegas i...     1
11  Subject: save your money buy getting this thin...     1
12  Subject: brighten those teeth  get your  teeth...     1
13  Subject: wall street phenomenon reaps rewards ...     1
14  Subject: fpa notice : ebay misrepresentation o...     1
15  Subject: search engine position  be the very f...     1
16  Subject: only our software is guaranteed 100 %...     1
17  Subject: localized software , all languages av...     1
18  Subject: security alert - confirm your nationa...     1
19  Subject: 21 st century web specialists jrgbm  ...     1

In [65]:
df.shape

(5728, 2)

In [66]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [67]:
df.describe()

              spam
count  5728.000000
mean      0.238827
std       0.426404
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [68]:
df.corr()

      spam
spam   1.0

In [69]:
X = df.iloc[:, 1:3001]
X

      spam
0        1
1        1
2        1
3        1
4        1
...    ...
5723     0
5724     0
5725     0
5726     0
5727     0

[5728 rows x 1 columns]

In [70]:
Y = df.iloc[:, -1].values
Y

array([1, 1, 1, ..., 0, 0, 0], dtype=int64)

In [71]:

train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.25)

Akurasi untuk Naive Bayes

In [73]:
mnb = MultinomialNB(alpha=1.9)
mnb.fit(train_x, train_y)
y_pred1 = mnb.predict(test_x)
print("Accuracy Score for Naive Bayes : ", accuracy_score(y_pred1, test_y))

Accuracy Score for Naive Bayes :  0.7562849162011173

Akurasi untuk SVM

In [75]:
svc = SVC(C=1.0, kernel='rbf', gamma='auto')
svc.fit(train_x, train_y)
y_pred2 = svc.predict(test_x)
print("Accuracy Score for SVC : ", accuracy_score(y_pred2, test_y))

Accuracy Score for SVC :  1.0